*{
	margin: 0;
	padding: 0;

}

body{
	background-color: rgb(0,176,240);
	color: #edf6ff;
	width: 100%;
	height: 100%;
}

.emptyBlock_50{
	width: 100%;
	height: 50px;
}

.content{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}

.s{
	font-size: 20px;
	width: 100px;
	display: inline-block;
}

.input{
	width: 250px;
	height: 22px;
	font-size: 15px;
	margin-left: 20px;
	border: none;
}

#color{
	width: 150px;
	height: 150px;
	background-color: #000;

}

.lable{

}
h1{
	text-decoration: underline;
}
.start{
}

.button15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 14px;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
  height: 40px;
}
.button15:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button15:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}