*{
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #e6e6e6;
}

#canvas{
	margin-top: 30px;
	width: 600px;
	height: 600px;
	border: 1px solid gray;
	background-color: #fff;
}

#draw{
 text-decoration:none; 
 text-align:center; 
 padding:15px 66px; 
 border:none; 
 color:#ffffff; 
 background:#0298d3; 
 font-size: 16px;
 cursor: pointer;

}

#content{ 
	top: 50px;
 	left: 100px;
	position: absolute;
}

.inp{
	height: 20px;

}

#draw:hover{
 padding:15px 66px; 
 border:none; 
 color:#ffffff; 
 background:#05b8ff; 

  
 }